#main {
    display: grid;
    grid-template-columns: 300px 1fr; 
    gap: 20px 30px;
    margin: 20px 10%;
    align-items: center;
}

.key {
    font-weight: bold;
    text-align: right;
}

.value {
    word-break: break-all; 
}

#settings {
    display: flex;
    justify-content: center;
    gap: 10px;
}